<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<style>
    .text-white{
        color:white
    }
</style>
<body style="background-color:black">

    <nav class=" bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://vaibhav-portfoliowebsite.vercel.app" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Vaibhav</span>
        </a>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
          <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  bg-gray-800 md:bg-gray-900 border-gray-700">
            <li>
              <a href="/" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:p-0 md:text-white md:hover:text-blue-500" aria-current="page">Home</a>
            </li>
            <li>
              <a href="/recommend" class="block py-2 px-3 rounded md:p-0 md:hover:text-blue-500 text-white hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Recommend</a>
            </li>
            <li>
              <a href="https://vaibhav-portfoliowebsite.vercel.app" class="block py-2 px-3 rounded md:p-0 md:hover:text-blue-500 text-white hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Contact</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>

      
        

      <div class="container mx-auto px-4 py-24 z-50">
        <div class="w-full">
            <div class="flex items-center justify-center">
                <h1 class="text-stone-500 text-5xl">Recommend Books</h1>
            </div>
            <form action="/recommend_books" method="post" class="mt-6 items-center">
                <div class="flex items-center justify-center">
                    <input name="user_input" type="text" class="form-input w-1/2 p-2 rounded-lg mb-4" placeholder="Enter book name">
                </div>
                <div class="flex items-center justify-center"> 
                    <input type="submit" class="bg-neutral-400 text-white text-lg font-semibold py-2 px-4 rounded-lg hover:bg-neutral-600 cursor-pointer ">
                </div>
            </form>
        </div>

        {% if error %}
        <h2 class="text-red-500 text-3xl m-10">{{ error }}</h2>
    {% else %}
        <!-- Existing code to display recommended books -->
        <div class="flex flex-wrap mt-12 items-center justify-center">
            {% for item in data %}
                <div class="w-62 sm:w-32 md:w-32 lg:w-40 m-12">
                    <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
                        <div class="p-4">
                            <img class="w-full h-auto object-cover" src="{{ item[2] }}" alt="Book Image">
                            <p class="text-white mt-4">{{ item[0] }}</p>
                            <h4 class="text-white">{{ item[1] }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    

        </div>
    </div>
    </div>

</body>
</html>